flows (1).json
[{"id":"7c2975b1.beecec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4dee1b00.093c24","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"91b85129.e8c42","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"f8464c4.592aeb","type":"ui_tab","z":"","name":"home","icon":"dashboard","disabled":false,"hidden":false},{"id":"60663636.7b2ac8","type":"ui_group","z":"","name":"Crime Rate Prediction","tab":"f8464c4.592aeb","disp":true,"width":"6","collapse":false},{"id":"ee1bb523.79f748","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"Arial Narrow,Nimbus Sans L,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"m","default":"#4B7930","baseColor":"#2c544b","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#000000","value":"#2c544b","edited":true},"page-titlebar-backgroundColor":{"value":"#2c544b","edited":false},"page-backgroundColor":{"value":"#55f2fb","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#468678","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#2c544b","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ea07ec1a.c743b","type":"twitter-credentials","z":"","screen_name":"pavanreddyN777"},{"id":"73cfca94.109ab4","type":"inject","z":"7c2975b1.beecec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101,"y":226.0000033378601,"wires":[["53afa7e8.de57f8"]]},{"id":"126c3e72.8e6dc2","type":"ui_form","z":"7c2975b1.beecec","name":"","label":"","group":"60663636.7b2ac8","order":4,"width":"6","height":"6","options":[{"label":"year","value":"ry","type":"number","required":true},{"label":"population","value":"pp","type":"number","required":true},{"label":"robberies","value":"rb","type":"number","required":true}],"formValue":{"ry":"","pp":"","rb":""},"payload":"","submit":"submit","cancel":"cancel","topic":"ggjgjgjhggff","x":108.10000228881836,"y":342.2000045776367,"wires":[["53afa7e8.de57f8"]],"info":" *``"},{"id":"a779d115.f45a3","type":"http request","z":"7c2975b1.beecec","name":"get","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":285.10010147094727,"y":283.2000045776367,"wires":[["9b2043f8.9f1cd","b96240e2.dee6"]]},{"id":"a383b684.b8dfb8","type":"http request","z":"7c2975b1.beecec","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ad867f9a-0b60-444e-9777-077bef16d3c6/deployments/ce129970-555c-4093-98f0-e54ce9a572f9/online","tls":"","proxy":"","authType":"basic","x":484.10008239746094,"y":233.2000036239624,"wires":[["83286323.8079c"]]},{"id":"53afa7e8.de57f8","type":"function","z":"7c2975b1.beecec","name":"token","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"7689e556-907f-433e-9d1f-3b0a65d57767\"\nvar password=\"732ba709-a2a8-41dd-aed8-6745f0d4c3ef\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"ry\",msg.payload.ry);\nglobal.set(\"pp\",msg.payload.pp);\nglobal.set(\"rb\",msg.payload.rb);\nreturn msg;","outputs":1,"noerr":0,"x":134.1000518798828,"y":285.2000026702881,"wires":[["a779d115.f45a3"]]},{"id":"83286323.8079c","type":"function","z":"7c2975b1.beecec","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":480.10008239746094,"y":287.2000036239624,"wires":[["531d5f4d.21c44","a3c70a51.723c08","ee88b2d9.2f048","b1d0e9f0.1e9368"]]},{"id":"9b2043f8.9f1cd","type":"function","z":"7c2975b1.beecec","name":"prediction","func":"var token=msg.payload.token;\nvar ry=global.get(\"ry\");\nvar pp=global.get(\"pp\");\nvar rb=global.get(\"rb\");\nmsg.payload={\"fields\":[\"year\",\"population\",\"robberies\"],\"values\":[[ry,pp,rb]]}\nmsg.headers={\"Authorization\":\"Bearer\"+token};\nreturn msg;","outputs":1,"noerr":0,"x":297.1000518798828,"y":233.2000026702881,"wires":[["a383b684.b8dfb8"]]},{"id":"531d5f4d.21c44","type":"ui_text","z":"7c2975b1.beecec","group":"60663636.7b2ac8","order":5,"width":0,"height":0,"name":"","label":"Prediction Value:","format":"{{msg.payload}}","layout":"row-spread","x":753.1000595092773,"y":199.2000036239624,"wires":[]},{"id":"b96240e2.dee6","type":"debug","z":"7c2975b1.beecec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":306.1000518798828,"y":330.0000047683716,"wires":[]},{"id":"a3c70a51.723c08","type":"debug","z":"7c2975b1.beecec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":734.1000576019287,"y":339.0000047683716,"wires":[]},{"id":"acec8e05.56d3c","type":"ui_button","z":"4dee1b00.093c24","name":"button","group":"60663636.7b2ac8","order":1,"width":0,"height":0,"passthru":false,"label":"press here ","tooltip":"","color":"black","bgcolor":"red","icon":"keyboard_voice","payload":"welcome to crime rate prediction model.please fill the details","payloadType":"str","topic":"crime rate","x":225.10000228881836,"y":245.20000648498535,"wires":[["d6a8ab9c.0e83c8","4ac809d5.248f28","9debb74f.be7ba8"]]},{"id":"d6a8ab9c.0e83c8","type":"ui_audio","z":"4dee1b00.093c24","name":"","group":"60663636.7b2ac8","voice":"hi-IN","always":"","x":498.10010528564453,"y":215.2000150680542,"wires":[]},{"id":"4ac809d5.248f28","type":"ui_toast","z":"4dee1b00.093c24","position":"top right","displayTime":"5","highlight":"red","outputs":0,"ok":"OK","cancel":"Cancelling the data","topic":"","name":"notification","x":654.1000785827637,"y":253.2000026702881,"wires":[]},{"id":"9debb74f.be7ba8","type":"ui_media","z":"4dee1b00.093c24","group":"60663636.7b2ac8","name":"","width":0,"height":0,"order":2,"category":"image","file":"predator theme.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":384.1000061035156,"y":309.00000381469727,"wires":[[]]},{"id":"ee88b2d9.2f048","type":"ui_gauge","z":"7c2975b1.beecec","name":"Prediction level","group":"60663636.7b2ac8","order":7,"width":"5","height":"4","gtype":"wave","title":"Prediction Level","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":753.1000595092773,"y":411.0000057220459,"wires":[]},{"id":"b1d0e9f0.1e9368","type":"ui_toast","z":"7c2975b1.beecec","position":"bottom right","displayTime":"3","highlight":"red","outputs":0,"ok":"OK","cancel":"","topic":"Thanking For Using This Model","name":"","x":742.1000595092773,"y":267.00000381469727,"wires":[]}]